* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Creepster", cursive;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url("../images/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(226, 0, 45);
  text-shadow: 1px 1px 1px #000;
  overflow: visible;
  cursor: url("../images/hand.png"), url("../images/hand-apple.png"), crosshair !important;
}

h1 {
  padding-bottom: 10vh;
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
  padding-bottom: 3vh;
}

h3:hover {
  animation: myAnimation 1s ease-in-out;
  animation-iteration-count: infinite;
}

h3 {
  font-size: 2rem;
}

#back-to-menu {
  display: flex;
  font-size: small;
}

#counter {
  padding-left: 50px;
}

@keyframes myAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.wrapper {
  padding: 10px;
  border-radius: 10px;
  background-image: url(../images/cover.png);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  background-position: center;
  background-repeat: no-repeat;
}

/* ----------------MENU-------------------*/
.main-menu {
  text-align: center;
  height: 90vh;
  width: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.options {
  padding-top: 40px;
}

/* ----------------MENU END-------------------*/
.cards,
.card,
.view {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.card {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.cards-easy,
.cards-medium,
.cards-hard,
.cards-hardcore {
  height: 90vh;
  width: 90vh;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
}

.cards-easy .card {
  list-style: none;
  user-select: none;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 3 - 5px);
  width: calc(100% / 3 - 5px);
  border-radius: 5px;
}

.cards-medium .card {
  list-style: none;
  user-select: none;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 2px);
  width: calc(100% / 3 - 2px);
  border-radius: 5px;
}

.cards-hard .card {
  list-style: none;
  user-select: none;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 2px);
  width: calc(100% / 4 - 2px);
  border-radius: 5px;
}

.cards-hardcore .card {
  list-style: none;
  user-select: none;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 5 - 2px);
  width: calc(100% / 4 - 2px);
  border-radius: 5px;
}

.card.shake {
  animation: shake 0.35s ease-in-out;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  20% {
    transform: translateX(-13px);
  }

  40% {
    transform: translateX(13px);
  }

  60% {
    transform: translateX(-8px);
  }

  80% {
    transform: translateX(8px);
  }
}

.card .view {
  position: absolute;
  border-radius: 7px;
  pointer-events: none;
  backface-visibility: hidden;
  transition: transform 0.25s linear;
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0.3);
  border: 1px 1px solid #ccc;
}

.card .front-view img {
  width: 100%;
  border-radius: 7px;
  height: auto;
}

.card .back-view img {
  max-width: 100%;
  border-radius: 7px;
  height: auto;
}

.card .back-view {
  transform: rotateY(-180deg);
}

.card.flip .back-view {
  transform: rotateY(0);
}

.card.flip .front-view {
  transform: rotateY(180deg);
}

#win-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
}

#win-screen img {
  width: 98vh;
  height: 98vh;
  object-fit: contain;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  /* keeps aspect ratio of the image */
}

#win-text {
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 100px;
}

#back-to-menu-id-win {
  padding-top: 50px;
}

#score {
  padding-top: 30px;
  font-size: 30px;
  color: rgb(0, 163, 14);
}

#exit {
  padding-top: 40px;
}

@media screen and (max-width: 700px) {
  .main-menu {
    text-align: center;
    max-height: 600px;
    max-width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .cards-hard,
  .cards-easy,
  .cards-medium,
  .cards-hardcore {
    max-height: 450px;
    max-width: 450px;
  }

  .card .front-view img {
    max-width: 100%;
    border-radius: 5px;
  }

  .card .back-view img {
    max-width: 100%;
    border-radius: 5px;
  }

  .card .view {
    border-radius: 5px;
  }
}

#typedtext {
  position: flex;
  font-size: 1.4rem;
}

@media screen and (max-width: 530px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.2rem;
    padding-top: 2px;
  }

  #exit {
    padding-top: 26px !important;
  }

  .main-menu {
    text-align: center;
    max-height: 520px;
    max-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-size: 14px;
  }

  .wrapper {
    display: flex;
  }

  .card .front-view img {
    max-width: 100%;
    border-radius: 3px;
  }

  .card .back-view img {
    max-width: 100%;
    border-radius: 3px;
  }

  .cards-easy .card {
    height: calc(100% / 4 - 2px);
    width: calc(100% / 2 - 2px);
  }

  .cards-hard .card {
    height: calc(100% / 5 - 1px);
    width: calc(100% / 4 - 1px);
  }

  .cards-hardcore .card {
    height: calc(100% / 5 - 1px);
    width: calc(100% / 4 - 1px);
  }

  .cards-hard,
  .cards-easy,
  .cards-medium,
  .cards-hardcore {
    max-height: 520px;
    max-width: 320px;
  }

  #typedtext {
    position: flex;
  }

  #back-to-menu-win {
    position: flex;
  }

  #win-screen img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    /* keeps aspect ratio of the image */
  }
}
